<xf:textboxrow name="options[client_id]" value="{$options.client_id}"
               label="{{ phrase('asi_apple_client_id') }}" />
<xf:textarearow name="options[private_key]" value="{$options.private_key}" rows="3"
               label="{{ phrase('asi_apple_private_key') }}" />
<xf:textboxrow name="options[team_id]" value="{$options.team_id}"
               label="{{ phrase('asi_apple_team_id') }}" />
<xf:textboxrow name="options[key_id]" value="{$options.key_id}"
               label="{{ phrase('asi_apple_key_id') }}" />